{% extends "base.html" %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/extra.css' %}">{% endblock %}

{% block content %}
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-6 col-lg-6 offset-md-3 offset-lg-3" method="POST" action="">
                <div class="row">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div>
                    <a href="{{link_href}}" style="display: block; text-align: center; margin-bottom: 20px;">{{link_text}}</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}