{% extends "base.html" %}
{% load static %}

{% block title %} Excluir Orcamento {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/extra.css' %}">{% endblock %}

{% block content %}
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-6 col-lg-6 offset-md-3 offset-lg-3" method="POST">
                    {% csrf_token %}
                    <div class='text-center'>
                        <h3>Deseja deletar {{orcamento.nome}}?</h3>
                    </div>
                    <div class='text-center'>
                        <button type="submit" class="btn btn-primary" style="width: 50%;" value=confirm>Sim</button>
                        <div style="padding: 1%;"></div>
                        <a href="{{'/orcamento'}}" class="btn btn-primary" style="width: 50%;" ><button type="button"  class="btn btn-primary">Não</button></a>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


