{% extends "base.html" %}
{% load static %}

{% block title %} Meu Orçamento {% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'adicionarOrcamento' %}><i class="fa fa-edit"></i> Adicionar
        Orçamento</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'adicionarCategoria' %}><i class="fa fa-edit"></i> Adicionar
        Categoria</a></li>
{% endblock %}

{% block content %}
<div id="content">
    <h3 style="text-align: center"> Meu Orçamento </h3>
    <div class="container">
        {% for orcamento in object_list %}
        <div class="card" style="padding: 1%;">
            <div class="card-header">
                <h5>{{orcamento.nome}}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <ul>Valor:R${{orcamento.valor}}</ul>
                    <ul>Tipo de orcamento: {{orcamento.tipo_orcamento}}</ul>
                    <ul>Data:{{orcamento.data}}</ul>
                    <ul>Categoria:{{orcamento.categoria}}</ul>
                    <a href={% url 'editarOrcamento' orcamento.id %} class="btn btn-primary btn-card">Editar</a>
                    <a href={% url 'excluirOrcamento' orcamento.id %} class="btn btn-primary btn-card">Deletar</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endblock %}