{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div id="content">
    <div class="container-fluid">
        <h3 class="text-center"> Meu Perfil </h3>
        <div class="card">
            <div class="card-header">
                <h5>{{user.username | default:"Sem usuário"}}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <ul>E-mail: {{user.email | default:"Sem e-mail"}}</ul>
                    {% comment %}
                    <a href={% url 'editarOrcamento' orcamento.id %} class="btn btn-primary btn-card">Editar</a>
                    <a href={% url 'excluirOrcamento' orcamento.id %} class="btn btn-primary btn-card">Deletar</a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}