{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href={% url 'adicionarOrcamento' %}><i class="fa fa-edit"></i> Adicionar Orçamento</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'adicionarCategoria' %}><i class="fa fa-edit"></i> Adicionar Categoria</a></li>
{% endblock %}

{% block content %}
<div id="content">
    <div class="container-fluid">
        <div class="row">
            Lista de orçamento
        </div>
    </div>
</div>
{% endblock %}