{% extends "base.html" %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/TelaInicial.css' %}">{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-3" id="profile-area">
                <ul class="list-group">
                    <li class="list-group-item">Usuário: {{perfil.usuario.username | default:"Sem usuário"}}</li>
                    <li class="list-group-item">E-mail: {{perfil.usuario.email | default:"Sem e-mail"}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}